version: '3.8'

services:
  ros2-humble:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ros2-humble-book
    environment:
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
    volumes:
      - ../:/workspace/book:rw
      - ~/.Xauthority:/root/.Xauthority:rw
    network_mode: host
    privileged: true
    stdin_open: true
    tty: true
    command: >
      bash -c "
        source /opt/ros/humble/setup.bash &&
        cd /workspace/book &&
        bash
      "